<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>

    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script>
        $(".searchbtn").hide();
        $(".notifybtn").hide();
        $(".logoutbtn").hide();
        $(".loginbtn").show();
        $(".profilebtn").hide();
    </script>
</head>
<body>
    <hgroup>
        <h1>Plz Log In First...</h1>
        <h2>An error occurred while processing your request.</h2>
    </hgroup>
</body>
</html>
