@model Quizz_Survay_Application.Models.RegisterModel
@{
    ViewBag.Title = "GetUserProfile";
    Layout = null;
}

<img src="@Url.Content("~\\AppFiles\\Images\\60111.jpg")" alt="the pic is here">
<p class="fs-4" style="margin-top: 45px;">@Model.FirstName @Model.LastName</p>
<p >@Model.UserName</p>
@{
    if (!Model.Role)
    {
        <h6>User</h6>
    }
    else
    {
        <h6>Admin</h6>
    }
}

@*
    ~\\AppFiles\\Images\\testing_profile_Image.png*@