
@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script>
    $(".loginbtn").hide();
    $(".logoutbtn").hide();
    $(".seachbtn").hide();
</script>

<div class="text-center m-2">
    <h4>Welcome!</h4>
    <div id="loading" class="spinner-border"></div>
</div>

<section class="container-fluid mt-5">
    <div class="container  text-black">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form>

                    <div class="text-center text-lg-start mt-4 pt-2" id="signinPage">
                        <div>
                            @Html.Action("SignIn")

                        </div>

                        <div class="d-flex pb-4 mt-3">
                            <p class="mb-0 me-2">Don't have an account?</p>
                            <button type="button" class="btn btn-outline-danger btn-sm" id="registerLoginButton">Create new</button>
                        </div>
                    </div>
                    <div class="text-center text-lg-start mt-4 pt-2" id="registerUser">
                        @Html.Action("RegisterUser")
                        <div class="d-flex pb-5 mt-2 p-2">
                            <p class="mb-0 me-2">Already have an account?</p>
                            <button type="button" class="btn btn-outline-danger btn-sm" id="userLoginButton">Login</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
 </section>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script>
        $(document).ready(function () {
            $("#registerUser").hide();
            $("#loading").hide();
            $("#errorMsg").hide();
            $("#errorMsg2").hide();
            $("#alertMsg").hide();
            $("#notFound").hide();
            $("#blockedUser").hide();
            $("#blockedUserR").hide();
            $("#otpExpired").hide();
            $("#otpExpiredR").hide();
            $("#notMatched").hide();
            $("#notMatchedR").hide();


            $("#registerLoginButton").click(function () {
                $("#signinPage").hide();
                $("#registerUser").show();

            });
            $("#userLoginButton").click(function () {
                $("#signinPage").show();
                $("#registerUser").hide();

            });
            /*$("#btnemail").click(function () {
                $("#loading").show();
            });*/
            $("#btnregister").click(function () {
                $("#loading").show();
                
            });

        })

    </script>
