@model IEnumerable<Quizz_Survay_Application.Models.SignInModel>

@{
    ViewBag.Title = "GetAll";
    Layout = null;
}

<script src="~/Scripts/jquery-3.4.1.js"></script>

<script>

    $(document).ready(function () {
        var isBlocked = false;
        var currUser;

        $("#otpcontainer").hide();

        $("#btnemail").click(function () {
            if (isBlocked) {
                alert("Your UserName is Blocked, plz contact admin");
                return false;
            }

            return VerifyEmail();
        });

        $("#btnotp").click(function () {
            return VerifyOTP();
        });

        function VerifyOTP() {
            var EnteredOTP_ = $("#enteredotp").val();

            $.ajax({
                url: "/SignIn/Validate",
                type: "GET",
                data: { EnteredOTP: EnteredOTP_, Email: $("#enteremail").val().toLowerCase() },
                success: function (data) {
                    if (data == 1) {
                        if (!currUser.Role) {
                            location.href = "@Url.Action("Index", "User")";
                        }
                        else {
                            alert("Redirect to Admin DashBoard");
                        }

                    }
                    else if (data == 2) {
                        /* alert("not matched");*/
                        $("#notMatched").show();
                        setTimeout(function () { $("#notMatched").fadeOut(); }, 2000);
                    }
                    else if (data == 3) {
                        /* alert("Expired");*/
                        $("#otpExpired").show();
                        setTimeout(function () { $("#otpExpired").fadeOut(); }, 2000);
                    }
                    else {
                        //alert("Blocked");
                        $("#blockedUser").show();

                        isBlocked = true;
                    }
                },
                error: function (data) {
                    //alert("something happened, Plz try again...");
                    $("#errorMsg").show();
                    setTimeout(function () { $("#errorMsg").fadeOut(); }, 2000);
                }
            });

            return false;
        };

        function VerifyEmail() {
            let EnteredEmail = $("#enteremail").val().toLowerCase();

            var users = @Html.Raw(Json.Encode(Model));
            var found = false;

            $.each(users, function (index, item) {
                if (item.UserName === EnteredEmail) {
                    $("#loading").show();
                    currUser = item;
                    $.ajax({
                        url: "/SignIn/ValidateEmailSignIn",
                        type: "POST",
                        data: { email: EnteredEmail },
                        success: function (data) {
                            if (data == 1) {
                             /*   alert("blocked user");*/
                                $("#blockedUser").show();
                                $("#loading").hide();
                                setTimeout(function () { $("#blockedUser").fadeOut(); }, 2000);
                            }
                            else {
                                $("#loading").hide();
                                $("#btnemail").hide();
                                $("#otpcontainer").show();
                            }
                        },
                        error: function (error) {
                            /*  alert("Something strange happended...PLz try again");*/
                            $("#errorMsg2").show();
                            $("#loading").hide();
                            setTimeout(function () { $("#errorMsg2").fadeOut(); }, 2000);
                        }
                    });

                    found = true;
                }
            });

            if (found == false) {
                /* alert("not found");*/
                $("#notFound").show();
                setTimeout(function () { $("#notFound").fadeOut(); }, 2000);
            }

            return false;
        }
    });

</script>





@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div>
            <div class="form-group">

                <div class="col-md-10">
                    <p>Please login to your Account </p>
                    <input class="form-control" id="enteremail" placeholder="Enter Email" />
                </div>
            </div>

            <div class="d-grid gap-1 col-10 ml-2 mt-2 p-2">
                <button class="btn btn-success btn-sm" type="button" id="btnemail">Login</button>

            </div>
        </div>

        <div id="otpcontainer">
            <div>

                <div class="col-md-10">
                    <input class="form-control" id="enteredotp" placeholder="Enter OTP" />
                </div>
            </div>

            <div class="form-group">

                <div class="d-grid gap-1 col-10 ml-2 mt-2 p-2">
                    <button class="btn btn-success btn-sm" type="button" id="btnotp">Login</button>

                </div>
            </div>
        </div>
        <div class="alert alert-danger hideerrormessage" id="errorMsg2" role="alert">
            Something went wrong, Please try again
        </div>
        <div class="alert alert-danger hideerrormessage" id="notFound" role="alert">
            User Not Found
        </div>
        <div class="alert alert-danger hideerrormessage" id="blockedUser" role="alert">
            Your Account has been Blocked!
        </div>
        <div class="alert alert-danger hideerrormessage" id="otpExpired" role="alert">
            OTP Expired!
        </div>
        <div class="alert alert-danger hideerrormessage" id="notMatched" role="alert">
            Wrong OTP
        </div>

    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
