@model IEnumerable<Quizz_Survay_Application.Models.SignInModel>

@{
    ViewBag.Title = "GetAll";
    Layout = null;
}

<script src="~/Scripts/jquery-3.4.1.js"></script>

<script>

    $(document).ready(function () {
        var isBlocked = false;
        var currUser;

        $("#otpcontainer").hide();
        $(".resendOTP").hide();



        $("#btnemail").click(function () {
            if (isBlocked) {
                $("#blockedUser").show();
                $("#loading").hide();
                return false;
            }

            return VerifyEmail();
            
        });

        $(".resendOTP").click(function () {
            if (isBlocked) {
                $("#blockedUser").show();
                $("#loading").hide();
                return false;
            }

            return VerifyEmail();
        });

        $("#btnotp").click(function () {
            return VerifyOTP();
        });

        function VerifyOTP() {
            var EnteredOTP_ = $("#enteredotp").val();

            if (!checkOTP(EnteredOTP_)) {
                return false;
            }

            $.ajax({
                url: "/SignIn/Validate",
                type: "GET",
                data: { EnteredOTP: EnteredOTP_, Email: $("#enteremail").val().toLowerCase(), role: currUser.Role },
                success: function (data) {
                    if (data == 1) {
                        if (!currUser.Role) {
                            location.href = "@Url.Action("Index", "User")";
                        }
                        else {
                            location.href = "@Url.Action("Index", "Admin")";
                        }

                    }
                    else if (data == 2) {
                        $("#notMatched").show();
                        setTimeout(function () { $("#notMatched").fadeOut(); }, 2000);
                    }
                    else if (data == 3) {
                        $("#otpExpired").show();
                        setTimeout(function () { $("#otpExpired").fadeOut(); }, 2000);
                    }
                    else {
                        $("#blockedUser").show();
                        isBlocked = true;
                    }
                },
                error: function (data) {
                    $("#errorMsg").show();
                    setTimeout(function () { $("#errorMsg").fadeOut(); }, 2000);
                }
            });

            return false;
        };

        function VerifyEmail() {
            let EnteredEmail = $("#enteremail").val().toLowerCase();

            if (!checkmail(EnteredEmail)) {
                return false;
            }

            var users = @Html.Raw(Json.Encode(Model));
            var found = false;

            $.each(users, function (index, item) {
                if (item.UserName === EnteredEmail) {
                    $("#loading").show();
                    currUser = item;
                    $.ajax({
                        url: "/SignIn/ValidateEmailSignIn",
                        type: "POST",
                        data: { email: EnteredEmail },
                        success: function (data) {
                            if (data == 0) {
                                isBlocked = true;
                                $("#blockedUser").show();
                                $("#loading").hide();
                                setTimeout(function () { $("#blockedUser").fadeOut(); }, 2000);
                            }
                            else {
                                $("#loading").hide();
                                $("#btnemail").hide();
                                $("#otpcontainer").show();

                                timeLeft_ = 60;
                                $("#timer_").show();
                                $(".resendOTP").hide();
                                updateTimer_();

                                timerInterval_ = setInterval(updateTimer_, 1000);

                            }
                        },
                        error: function (error) {
                            $("#errorMsg2").show();
                            $("#loading").hide();
                            setTimeout(function () { $("#errorMsg2").fadeOut(); }, 2000);
                        }
                    });

                    found = true;
                }
            });

            if (found == false) {
                $("#notFound").show();
                setTimeout(function () { $("#notFound").fadeOut(); }, 2000);
            }
            return false;
        }

        var timerInterval_
        var timerElement_ = $("#timer_");
        var timeLeft_;

        function updateTimer_() {
            var minutes_ = Math.floor(timeLeft_ / 60);
            var seconds_ = timeLeft_ % 60;
            var formattedTime_ = (minutes_ < 10 ? "0" : "") + minutes_ + ":" + (seconds_ < 10 ? "0" : "") + seconds_;
            timerElement_.text(formattedTime_);
            timeLeft_--;

            if (timeLeft_ < 0) {
                clearInterval(timerInterval_);
                timerElement_.hide();
                $(".resendOTP").show();
            }
        }


        $("#mailerror").hide();
        $("#otperror").hide();

        $(document).on("keyup", "#enteremail", function () {
            return checkmail($(this).val().toLowerCase());
        });

        function checkmail(inputvalues) {
            var regex = /^[_a-z0-9-]+(\.[_a-z0-9-]+)*@@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/;
            if (!regex.test(inputvalues)) {
                $("#mailerror").show();
                $("#mailerror").html("* please enter correct Email")
            }
            else {
                $("#mailerror").hide();
            }

            return regex.test(inputvalues);
        }



        $(document).on("keyup", "#enteredotp", function () {
            return checkOTP($(this).val());
        });

        function checkOTP(inputvalues_) {
            var regex = /^\d{6,6}$/;
            if (!regex.test(inputvalues_)) {
                $("#otperror").show();
                $("#otperror").html("* please enter 6 digit OTP")
            }
            else {
                $("#otperror").hide();
            }

            return regex.test(inputvalues_);
        }

    });

</script>





@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div>
            <div class="form-group">

                <div class="col-md-10">
                    <p>Please login to your Account </p>
                    <input class="form-control" id="enteremail" placeholder="Enter Email" />
                    <p id="mailerror" class="text-danger text-sm-start"></p>
                </div>
            </div>

            <div class="d-grid gap-1 col-10 ml-2 mt-2 p-2">
                <button class="btn btn-success btn-sm" type="button" id="btnemail">Generate OTP</button>
            </div>
        </div>

        <div id="otpcontainer">
            <div>

                <div class="col-md-10 d-flex">
                    <input class="form-control" id="enteredotp" placeholder="Enter OTP" />
                    <div id="timer_" class="btn btn-outline-info rounded-2 btn-sm ms-2" style="height:30px;position:relative;top:7px;">00:00</div>
                    <button class="btn btn-outline-info rounded-2 btn-sm ms-2 resendOTP" style="height:30px;position:relative;top:7px;"> resend </button>
                </div>
                <p id="otperror" class="text-danger text-sm-start"></p>
            </div>

            <div class="form-group">
                <!--<div class="col-md-offset-2 col-md-10" style="margin-left:5px;">-->
                @*<input type="submit" id="btnotp" value="Submit" class="m-4 btn btn-outline-primary btn-default" />*@
                <!--<button class="btn btn-success btn-sm" type="button" id="btnotp">Login</button>
            </div>-->

                <div class="d-grid gap-1 col-10 ml-2 mt-2 p-2">
                    <button class="btn btn-success btn-sm" type="button" id="btnotp">Login</button>

                </div>
            </div>
        </div>
        <div class="alert alert-danger " id="errorMsg2" role="alert">
            Something went wrong, Please try again
        </div>
        <div class="alert alert-danger " id="notFound" role="alert">
            User Not Found
        </div>
        <div class="alert alert-danger" id="blockedUser" role="alert">
            Your Account has been Blocked!
        </div>
        <div class="alert alert-danger " id="otpExpired" role="alert">
            OTP Expired!
        </div>
        <div class="alert alert-danger " id="notMatched" role="alert">
            Wrong OTP
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
